.idea/.gitignore
.idea/Color Detection and Drawing.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/stackImages.cpython-39.pyc
